<?xml version="1.0" encoding="UTF-8" ?>
<Module>
  ﻿  <ModulePrefs title="Video Watcher">
    ﻿  ﻿  <Require feature="rpc" />
    ﻿  ﻿  <Require feature="views" />
    ﻿  ﻿  <Require feature="locked-domain" />
    ﻿  </ModulePrefs>
  ﻿  <Content type="html"><![CDATA[

<html>
  <style type="text/css">
  </style>
  <body>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//plus.google.com/hangouts/_/api/v1/hangout.js"></script>

    <script src="//raw.githubusercontent.com/rchasin/GoogleHangoutWatchVideos/initial_try/main.js"></script>

    <h3>Video Watcher</h3>

    <p>
      URL: <input type="text" id="videoUrlInput" />
      Width: <input type="text" id="videoWidthInput" />
      Height: <input type="text" id="videoHeightInput" />
      <input class="button" type="button" value="Play!" id="playButton"
	         style="visibility:hidden;"
	         onClick="sendUpdatedVideoParams()"/>
      </p>

    <iframe id="videoIframe" onClick="togglePlayingState" />

    </body>
  ]]>
    </Content>
  </Module>

